<!DOCTYPE html>
<html>
  <head>
    <title>Vacation Rentals, Homes, Experiences &amp; Places - Airbnb</title>
    <meta property="og:title" content="Vacation Rentals, Homes, Experiences &amp; Places - Airbnb">
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPRoSEps_3YlY3dCRPABggAq6of7vNpPM&libraries=places" %>


    <link rel="shortcut icon" href="images/favicon/airbnb_logotype_favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logoWhiteSmall = "<%= image_url('background/landing/01_airbnb-landing-main.jpg') %>"
      window.landingHeroBg = "<%= image_url('logo/01_airbnb-logo-sm-white.png') %>"
    </script>

  </head>

  <body class="">
    <%= yield %>
  </body>
</html>
